name: Build and Release Mod
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
  push:
    tags:
      - 'v*' # Сработает, когда ты создашь тег, или просто на каждый пуш:
  workflow_dispatch: # Позволяет запустить сборку вручную кнопкой

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Это нужно, чтобы GitHub мог создать релиз
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 7.6

      - name: Build with Gradle
        run: |
          find . -name "build.gradle" -execdir gradle build \;

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "latest"
          name: "Latest Build"
          files: "**/build/libs/*.jar"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
