name: Build Minecraft Mod
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build
          # Если файл build.gradle лежит сразу в корне, удали строку ниже.
          # Если он лежит в папке, оставь как есть:
          build-root-directory: simulation-projector

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SimMod-Jar
          path: "**/build/libs/*.jar"
